<div class="panel-footer">
    <input id="Submit" type="submit" accesskey="s" class="btn btn-success" value="Save (Alt+S)" />
    <a asp-action="List" accesskey="l" class="btn btn-primary">Show All (Alt+L)</a>
</div>